/* body {
    background-image: url("./assets/front-of-parking-area.png");
   } */

   .parallax {
    /* The image used */
    background-image: url("./assets/front-of-parking-area.png");
  
    /* Set a specific height */
    min-height: 1000px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }